body {background-image:url("Image/background.jpg");}
#wrapper{width:100%,background-image:Image/background.jpg}
#header{text-align:center;width:100%;}
#menu{width:100%;float:left;min-width:60px;text-align:center;}
#menu ul{list-style-type:none;
	display:inline-block;
	background:pink;
	text-align:right;
	width=100%}
li{float:left; border-left-style:solid; }
li.none{border-left-style:none;}
li.facebook{border-left-style:none;}
li a {
    display:inline-block;;
    color: black;
    text-align: center;
    padding-right: 30px;
	padding-left:30px;
	padding-top:6px;
	padding-bottom:4px;
    text-decoration: none;
	font-family:Georgia, serif;
	font-size:22px;
	height:32px;
}
li a:hover {
    color: blue;
}

label {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;font-size:18px;}
#content{background-color:#ffffe6;margin-top:70px;margin-left:110px;margin-right:110px;
margin-bottom:60px;padding-left:60px;padding-right:60px;padding-bottom:40px;position:relative;overflow:hidden;}
#info{float:left;padding:10px;margin-left:20px;background-color:#ffffe6;margin-bottom:60px;border:2px solid grey;border-style: ridge;margin-top:20px;}
#form{float:left;padding-left:150px;text-align:left;margin-left:35px;background-color:#ffffe6;margin-bottom:60px;overflow:hidden;}
#outside
{
	width:650px;
	overflow:hidden;
	margin:0 auto;
	position:relative;
}
#container{
	width:2710px;
	position:relative;
	animation-name:jatinder;
	animation-duration:20s;
	animation-iteration-count:infinite;}
#container img{float:left;width:650px;height:450px;}
@keyframes jatinder{
	0%
	{
		left:0px;
	}
	20%
	{
		left:0px;
	}
	25%
	{
		left:-652px;
	}
	45%
	{
		left:-652px;
	}
	50%
	{
		left:-1304px;
	}
	70%
	{
		left:-1304px;
	}
	75%
	{
		left:-1956px;
	}
	95%
	{
		left:-1956px;
	}
	100%
	{
		left:-2608px;
	}
	
}
#container .btn{position:absolute;width:50px;height:50px;border:none;border-radius:25px;margin-top:200px;font-size:20px;}
#container #btn1:hover{background-color:grey;}
#container #btn2:hover{background-color:grey;}
#container #btn2{position:relative;float:right;}
#consultation{width:50%;float:left;padding-left:80px;position:relative;margin-top:20px;}
#image{width:40%;float:left;position:relative;height:auto;margin-top:20px;}
#image1{width:30%;float:left;padding-left:70px;}
#about1{width:50%;float:left;height:auto;padding-left:70px;}
#maker{display:inline-block;}
#image2{width:30%;float:left;height:auto;padding-left:80px;}
#chief{width:50%;float:left;padding-left:80px;}
#cakeImage{max-width:100%;max-height:100%;}
#pForm{font-style:italic;padding-bottom:5px;}
#maker{float:clear;margin-top:30px;height:40%;}
#border{margin-top:80px;height:50px;width:100%}
.round{border-radius:50%;}
h1{font-family:Georgia, serif;font-size:40px;text-align:center;padding-top:25px;}
h2{font-family:Georgia, serif;font-size:26px;text-align:left;}
h3{margin:0px;}
h5{font-family:Georgia, serif;font-size:20px;text-align:center;}
h6{font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;font-size:18px;padding-left:180px;padding-right:180px;text-indent:50px;margin-top:20px;margin-bottom:0px;}
p{font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:18px;text-indent:20px;}
p.center{text-align:center;font-size:15px}
p.pFooter{font-size:12px;text-indent:0px;}
#footer{text-align:center;width:100%;margin-bottom:0;clear:both;}
input[type=text],input[type=datetime-local],input[type=email],input[type=tel]{width:400px;height:25px;}
select{width:405px;height:27px;}
#consultation{width:405px;height:27px;}
#consultationType{width:405px; font-style:italic;font-size:15px;}
input[type=button]{
	background-color:#FFC300;
	border:none;
	color:black;
	padding:10px 32px;
	text-decoration:none;
	margin-top:6px;
	margin-bottom:6px;
	margin-left:45px;
	cursor:pointer;
	font-size:18px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
img{padding-left:3px;}
#content ul li{width:300px;height:200px;float:left;}
.gallery {
  width: 940px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery div img {
  display: block;
  width: 300px;
  height:300px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery div:hover {
  z-index: 1;
}

.gallery div:hover img {
  transform: scale(1.4,1.4);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}



